<div class="container">
    <form id="form-imc" action="#" method="get"  class="form">
        <legend>Calcula IMC</legend>
        <label for="nome">Nome</label>
        <input type="text" id="txtTexto" [(ngModel)] ="pessoa.nome" name="txtName" maxlength="30">
        <p>{{pessoa.nome}} </p>
        <label for="peso">Peso </label>
        <input type="number" id="peso" placeholder="Peso em Kg" step="0.01" [(ngModel)] ="pessoa.peso" name="peso" max="200" >
        <p>{{pessoa.peso}} </p>
        <label for="altura">Altura </label>
        <input type="number" id="altura" placeholder="Altura em m" max="3.0" step="0.01" [(ngModel)] ="pessoa.altura" name="altura">
        <p>{{pessoa.altura}}</p>
        <label for="sexo">Sexo</label>
        <div class="radio-group">
            <div>
                <input type="radio" name="sexo" id="radio-masc" value="m" [(ngModel)] ="pessoa.sexo" name="sexo">
                <label for="radio-masc">Masculino</label>
            </div>
            <div>
                <input type="radio" name="sexo" id="radio-fem" value="f" [(ngModel)] ="pessoa.sexo" name="sexo">
                <label for="radio-fem">Feminino</label>
            </div>
        </div>
        <button type="button" class="btn-submit" [disabled]="isEmpty()" [class]="classBtnHover()" (click)="getForm()" >Calcular</button>
    </form>
</div >
<div *ngFor="let pessoa of pessoas">
    <app-table-imc [pessoa]="pessoa"></app-table-imc>
</div>