<input id="menu-hamburguer" type="checkbox" />

  <label for="menu-hamburguer">
    <div class="menu">
      <span class="hamburguer"></span>
    </div>
  </label>
    <div class="links">
        <ul>
            <li><a routerLink="/exemplo" routerLinkActive="linkActive">Exemplos</a></li>
            <li><a routerLink="/imc" routerLinkActive="linkActive">Calcula IMC</a></li>
            <li><a routerLink="/class" routerLinkActive="linkActive">NgClass</a></li>
            <li><a routerLink="/for" routerLinkActive="linkActive">NgFor</a></li>
            <li><a routerLink="/if" routerLinkActive="linkActive">NgIf</a></li>
            <li><a routerLink="/model" routerLinkActive="linkActive">NgModel</a></li>
            <li><a routerLink="/style" routerLinkActive="linkActive">NgStyle</a></li>
            <li><a routerLink="/switch" routerLinkActive="linkActive">NgSwitch</a></li>
            <li><a routerLink="/pipes" routerLinkActive="linkActive">Exemplo pipes</a></li>
            <li><a routerLink="/microondas" routerLinkActive="linkActive">Microondas</a></li>
            <li><a routerLink="/pai_filho" routerLinkActive="linkActive">Pai-Filho</a></li>
            <li><a routerLink="/filho_pai" routerLinkActive="linkActive">Filho-Pai</a></li>
            <li><a routerLink="/service" routerLinkActive="linkActive">Service</a></li>
            <li><a routerLink="/ativ_module" routerLinkActive="linkActive">Atividade Modulo</a></li>
          </ul>
    </div>