<form action="">
    <legend>Cadastro de medicamentos:</legend>
    <div>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" [(ngModel)]="listaMed.nome">
    </div>
    <div>
        <label for="valor">Valor: </label>
        <input type="number" name="valor" id="valor" [(ngModel)]="listaMed.preco">
    </div>
    <button class="btn-submit btn-hover" (click)="addItem(listaMed)" [disabled]="listaMed.nome == '' || listaMed.preco == null">Submit</button>
</form>