header{
    padding: 50px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
header h1{
    font-size: 30px;
    padding-right: 150px;
    justify-self: center;
    align-self: center;
    margin-left: 40px;
}