.personagem {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.status{
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 20px;

}